<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        GameHub
      </h1>
      <h2 class="subtitle">
        A multiplayer mini-games hub
      </h2>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
      <a-button type="primary">Primary</a-button>
    </div>
  </div>
</template>

<script>
import socketClusterClient from 'socketcluster-client'
import Logo from '~/components/Logo.vue'

if (process.client) {
  const socket = socketClusterClient.create({
    port: window.location.port || 443,
    autoReconnect: true
  })
  ;(async () => {
    for await (const err of socket.listener('close')) {
      console.error('Socket disconnected', err)
    }
  })()
  ;(async () => {
    const player = JSON.parse(localStorage.getItem('player'))
    let userData
    if (player) {
      console.debug('Reconnecting player: ', player)
      userData = await socket.invoke('login', player)
    } else {
      userData = await socket.invoke('login', { name: 'Arno500' })
    }
    localStorage.setItem('player', JSON.stringify(userData))
  })()
}

export default {
  components: {
    Logo
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
